@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Noto Serif", serif;
}
/*Variable*/
:root{
    --color_text-primary: #5cc2f1;
    --color_text-secundary: #0C080A;
    --color_text-tertiary: #afe1f5;
    --color_text-tertiary2: white;
    --color_btn-primary: #0d0247;
    --main_color-primary: #a1bbeb;
    --main_color-secundary:#8da4f0;
    --background-color:#d8dff5;
    --lowText_font_size: 16 px;
    --text_size_title: 40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    --text_paragraph: 16px;
    --box_shadow-primary: 0px 6px 50px -20px rgba(0,0,0,0.2);
    --color_icons_header: #000;
}
/* Header*/
header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
    background-color: var(--main_color-secundary);
}

.container_header {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo img {
    width: 100px;
}

.menu {
    display: flex;

    align-items: center;
}

.menu nav {
    margin: 0px 20px;
}

.menu nav ul {
    display: flex;
}

.menu nav ul li {
    list-style: none;
    margin: 20px 16px;
}

.menu nav ul li a {
    color: rgb(7, 35, 160);
    font-size: 16px;
    position: relative;
}

.menu nav ul li a:hover {
    color: #8657f3;
}

.btn_quote {
    display: block;
    padding: 8px 40px;
    border: 2px solid #140086;
    border-radius: 8px;
    font-weight: 500;
    color: #140086;
    margin: 0px 20px;
    transition: all 300ms;
}

.btn_quote:hover {
    color: white;
    background: #140086;
}

.menu .socialMedia {
    margin: 0px 10px;
}

.menu .socialMedia a {
    margin: 0px 4px;
    color: var(--color_icons_header);
}

.menu .socialMedia img {
    width: 20px;
}
/*end header*/

/*Portada inicio*/

.container_cover{
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--main_color-secundary);
}

.cover{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display:flex;
    align-items: center;
    padding: 0px 20px;
}

.tex_cover{
 width: 100%;
 padding-right: 150px;   
}

.tex_cover h1{
    font-size: 50px;
    width: 100px;
    color: var(--color_text-secundary);
}

.tex_cover h3{
    font-size: 50px;
    margin-top:  80px;
    color: var(--color_text-secundary);
}

.text_cover p{
    font-size: var(--text_paragraph);
    margin-top:50px;
    color: var(--color_text-secundary);
}

.btn_text{
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--color_btn-primary) ;
    color:white;
    border-radius: 8px;
    border: 2px solid var(--color_btn-primary);
    cursor:pointer;
    transition:all 300ms;
}

.btn_text:hover{
    background: transparent;
    border: 2px solid var(--color_btn-primary);
    color: var(--color_btn-secundary);
    color: #0C080A;
}

.image_cover{
    width: 90%;
}

.image_cover img{
    width: 350px;
    margin-left: 100px;
}

/*Estilos Generales Cards*/

.container__card-primary{
    padding-top: 100px;
}

.card__primary{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.text__card-primary{
    max-width: 800px;
    margin: auto;
}

.text__card-primary p{
    padding-top: 50px;
    color: var(--color_text-secundary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}

.text__card-primary h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
}

.container__box-cardPrimary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.box__card-primary{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}

.box__card-primary:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
}

.box__card-primary h2{
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;
}

.box__card-primary p{
    margin-top: 20px;
}

/*End Estilos Generales Cards*/

/*Sobre Nosotros*/

.container__about{
    padding: 100px 0px;
    background: var(--background-color);
    margin-top: 100px;
}

.about{
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text__about{
    width: 100%;
    padding-right: 40px;
}

.text__about h1{
    color: var(--color_text-secundary);
    font-weight: 600;
}

.text__about p{
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-secundary);
}

.btn__text{
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--color_btn-primary) ;
    color:white;
    border-radius: 8px;
    border: 2px solid var(--color_btn-primary);
    cursor:pointer;
    transition:all 300ms;
}

.btn__text_about{
    background: transparent;
    border: 2px solid var(--color_btn-primary);
    color: var(--color_btn-secundary);
    color: #0C080A;
}

.image__about{
    width: 100%;
    display: flex;
}

.image__about img{
    width: 200px;
    margin-right: 100px ;
}

/*End Sobre Nosotros*/

/*nuestros servicios*/

.container__card-Secundary{
    padding-top: 100px;
    padding: 100px 50px;
}

.card__Secundary{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.text__card-secundary{
    max-width: 800px;
    margin: auto;
}

.text__card-Secundary p{
    color: var(--color_text-primary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
    justify-content: center;
}

.text__card-Secundary h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
}

.container__box-cardSecundary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.box__card-secundary{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}

.box__card-secundary:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
}

.box__card-secundary h2{
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;
}

.box__card-secundary p{
    margin-top: 20px;
}

.box__card-secundary img{
    width: 80px;
    margin-right: 100px;
    margin-left: 50px;
    justify-content: center;
}
/*end nuestros servicios*/

/*nuestros proyecos*/
.container__card-tertiary{
    background: #c8d6f548;
    padding-top: 100px;
    padding: 100px 50px;
}

.card__tertiary{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.text__card-tertiary{
    max-width: 800px;
    margin:auto;
}

.text__card-tertiary p{
    color: var(--color_text-secundary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}

.text__card-tertiary h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
}

.container__box-cardTertiary{
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
    margin-top: 40px;
}

.box__card-tertiary{
    max-width: 350px;
    padding:  60px 30px;
    border: 1px solid #e6e6e6;
    border-radius: 40px;
    margin: 14px;
    transition: all 300ms;
    background-image: url(https://get.wallhere.com/photo/children-love-teddy-bears-photography-morning-Person-little-girl-romance-child-woman-photograph-portrait-photography-interaction-199068.jpg);
    background-size:cover;
    background-repeat: repeat;
    
    
}

.box__card-tertiary1{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 40px;
    margin: 14px;
    transition: all 300ms;
    background-image: url(https://s.yimg.com/ny/api/res/1.2/aDdzEfw8uRf9wn9SVxpT6g--/YXBwaWQ9aGlnaGxhbmRlcjt3PTIxNjA7aD0yMTYwO2NmPXdlYnA-/https://media.zenfs.com/es/animal_mx_205/9944f5d4fdbc7f9437fbd47a44fda524);
    background-size:cover;
    background-repeat: repeat;
    
    
}

.box__card-tertiary2{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 40px;
    margin: 14px;
    transition: all 300ms;
    background-image: url(https://img.freepik.com/fotos-premium/foto-oso-peluche-abrazando-persona-abrazando-oso-peluche-gigante-rodeado-concepto-idea-escena-creativa_655090-938122.jpg?w=360);
    background-size:cover;
    background-repeat: repeat;
    
    
}

.box__card-tertiary:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
    box-decoration-break: slice;

}
.box__card-tertiary1:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);

}
.box__card-tertiary2:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);

}

.box__card-tertiary h2{
    font-size: var(--text_title_card);
    font-weight: 600;
    text-align:left;
    color: var(--color_text-tertiary2);
}
.box__card-tertiary1 h2{
    font-size: var(--text_title_card);
    font-weight: 600;
    text-align:left;
    color: var(--color_text-tertiary2);

}
.box__card-tertiary2 h2{
    font-size: var(--text_title_card);
    font-weight: 600;
    text-align:left;
    
}


.box__card-tertiary p{
    margin-top: 20px;
    text-align:left;
    color: var(--color_text-tertiary2);
}
.box__card-tertiary1 p{
    margin-top: 20px;
    text-align:left;
    color: var(--color_text-tertiary2);
    
}
.box__card-tertiary2 p{
    margin-top: 20px;
    text-align:left;
    
}
/*end nuestros proyectos*/

/*nuestros equipo*/
.container__card-cuaternary{
    background: #ffff;
    padding-top: 50px;
    padding: 100px 50px;
}

.card__cuaternary{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.text__card-cuaternary{
    max-width: 800px;
    margin:auto;
}

.text__card-cuaternary p{
    color: var(--color_text-secundary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
    padding-top: 50px;
}

.text__card-cuaternary h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
}

.container__box-cardCuaternary{
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
    margin-top: 40px;
}

.box__card-cuaternary{
    max-width: 250px;
    padding:  60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 40px;
    margin: 14px;
    transition: all 300ms;
    background-image: url(https://static.cegos.es/content/uploads/2023/03/01165224/GettyImages-1300321639.jpg.webp);
    background-size:250px 250px;
    background-repeat:no-repeat;   
}

.box__card-cuaternary1{
    max-width: 250px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 40px;
    margin: 14px;
    transition: all 300ms;
    background-image: url(https://www.mundopsicologos.com/site/article/62173/52366/13-habitos-que-te-ayudaran-a-ser-una-persona-mas-feliz-0_ai1.jpg);
    background-size:250px 250px;
    background-repeat:no-repeat;  
}

.box__card-cuaternary2{
    max-width: 250px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 40px;
    margin: 14px;
    transition: all 300ms;
    background-image: url(https://pymstatic.com/5844/conversions/personas-emocionales-wide_webp.webp);
    background-size:250px 250px;
    background-repeat:no-repeat;   
}

.box__card-cuaternary3{
    max-width: 250px;
    padding:  60px 30px;
    border: 1px solid #e6e6e6;
    border-radius: 40px;
    margin: 14px;
    transition: all 300ms;
    background-image: url(https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:250px 250px;
    background-repeat:no-repeat;
    
    
}

.box__card-cuaternary:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
    box-decoration-break: slice;

}
.box__card-cuaternary1:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);

}
.box__card-cuaternary2:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);

}

.box__card-cuaternary3:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);

}

.box__card-cuaternary h2{
    font-size: var(--color_text-secundary);
    font-weight: 600;
    text-align:left;
    color: var(--color_text-secundary);
    padding-top: 200px;
}
.box__card-cuaternary1 h2{
    font-size: var(--color_text-secundary);
    font-weight: 600;
    text-align:left;
    color: var(--color_text-secundary);
    padding-top: 200px;
}
.box__card-cuaternary2 h2{
    font-size: var(--color_text-secundary);
    font-weight: 600;
    text-align:left;
    padding-top: 200px;
}

.box__card-cuaternary3 h2{
    font-size: var(--color_text-secundary);
    font-weight: 600;
    text-align:left;
    padding-top: 200px;
}


.box__card-cuaternary p{
    margin-top: 20px;
    text-align:left;
    color: var(--color_text-secundary);
    
}
.box__card-cuaternary1 p{
    margin-top: 20px;
    text-align:left;
    color: var(--color_text-secundary);
    
}
.box__card-cuaternary2 p{
    margin-top: 20px;
    text-align:left;   
}

.box__card-cuaternary3 p{
    margin-top: 20px;
    text-align:left;
}

/*end nuestros equipo*/

/*Nuestro contacto*/

.formulario {
    justify-content: center;
    width: 580px;
    max-width: 50%;
    margin: 20px;
    margin-top: 30px;
    padding: 20px;
}

.formulario__titulo {
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.6);
}

.formulario__input, .formulario__label, .formulario__submit{
    display: block;
    width: 100%;
    font-size: 1.3em; 
}

.formulario__input{
    padding: 20px;
    background: transparent;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;
}

.formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
}

.formulario__submit{
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.fijar {
    margin-top: -135px;
}

.container_contacto{
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 100px;
    background: rgb(228, 232, 252);
}

.contacto{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display:flex;
    align-items: center;
    padding: 0px 20px;
}

.tex_contacto{
 width: 100%;
 padding-right: 150px;   
}

.tex_contacto p{
    color: var(--color_text-secundary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
    padding-top: 50px;
}

.tex_contacto h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
}


.image_contacto{
    
    width: 50%;
}

.image_contacto img{
    align-content:center;
    width: 400px;
}

